@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');

.index {
  position: relative;
  display: flex;
  justify-content: center
}

.index .bg {
  height: 100%;
}

.index .logo {
  position: absolute;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 2.25%
}

.index .logo:hover span {
  display: flex;
}

.index .logo span {
  position: absolute;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 75px;
  height: 30px;
  top: -45px
}

.index .logo span:after {
  position: absolute;
  border-style: solid;
  bottom: -10px;
  content: '';
  width: 0;
  height: 0;
  border-width: 10px 7.5px 0 7.5px;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

.index .logo_1 {
  top: 55.8%;
  left: 8.65%;
  -webkit-animation: up-down 3s linear infinite;
  animation: up-down 3s linear infinite
}

.index .logo_1 span {
  width: 105px;
}

.index .logo_2 {
  top: 27.9%;
  left: 21.15%;
  -webkit-animation: up-down 3s linear infinite;
  animation: up-down 3s linear infinite
}

.index .logo_2 span {
  width: 75px;
}

.index .logo_3 {
  top: 22%;
  left: 26.95%;
  -webkit-animation: up-down 3s 0.6s linear infinite;
  animation: up-down 3s 0.6s linear infinite;
}

.index .logo_4 {
  top: 33.3%;
  left: 26.1%;
  -webkit-animation: up-down 3s 0.4s linear infinite;
  animation: up-down 3s 0.4s linear infinite;
}

.index .logo_5 {
  top: 74%;
  left: 25.1%;
  -webkit-animation: up-down 3s linear infinite;
  animation: up-down 3s linear infinite;
}

.index .logo_6 {
  top: 69.8%;
  left: 29.15%;
  -webkit-animation: up-down 3s 0.5s linear infinite;
  animation: up-down 3s 0.5s linear infinite;
}

.index .logo_7 {
  top: 73.8%;
  left: 32.8%;
  -webkit-animation: up-down 3s 0.5s linear infinite;
  animation: up-down 3s 0.5s linear infinite;
}

.index .logo_8 {
  top: 21.4%;
  left: 36.9%;
  -webkit-animation: up-down 3s linear infinite;
  animation: up-down 3s linear infinite
}

.index .logo_8 span {
  width: 105px;
}

.index .logo_9 {
  top: 32%;
  left: 37%;
  -webkit-animation: up-down 3s 0.5s linear infinite;
  animation: up-down 3s 0.5s linear infinite
}

.index .logo_9 span {
  width: 105px;
}

.index .logo_10 {
  top: 79.2%;
  left: 38.4%;
  -webkit-animation: up-down 3s 0.4s linear infinite;
  animation: up-down 3s 0.4s linear infinite
}

.index .logo_10 span {
  width: 85px;
}

.index .logo_11 {
  top: 62.4%;
  left: 40.2%;
  -webkit-animation: up-down 3s 0.6s linear infinite;
  animation: up-down 3s 0.6s linear infinite;
}

.index .logo_12 {
  top: 26.3%;
  left: 42.3%;
  -webkit-animation: up-down 3s 0.2s linear infinite;
  animation: up-down 3s 0.2s linear infinite
}

.index .logo_12 span {
  width: 105px;
}

.index .logo_13 {
  top: 47.4%;
  left: 44.1%;
  -webkit-animation: up-down 3s linear infinite;
  animation: up-down 3s linear infinite
}

.index .logo_13 span {
  width: 85px;
}

.index .logo_14 {
  top: 75.2%;
  left: 42.8%;
  -webkit-animation: up-down 3s 0.1s linear infinite;
  animation: up-down 3s 0.1s linear infinite
}

.index .logo_14 span {
  width: 85px;
}

.index .logo_15 {
  top: 19%;
  left: 49%;
  -webkit-animation: up-down 3s 0.7s linear infinite;
  animation: up-down 3s 0.7s linear infinite
}

.index .logo_15 span {
  width: 140px;
}

.index .logo_16 {
  top: 30.8%;
  left: 59.1%;
  -webkit-animation: up-down 3s 0.5s linear infinite;
  animation: up-down 3s 0.5s linear infinite;
}

.index .logo_17 {
  top: 60.7%;
  left: 57.5%;
  -webkit-animation: up-down 3s 0.3s linear infinite;
  animation: up-down 3s 0.3s linear infinite
}

.index .logo_17 span {
  width: 85px;
}

.index .logo_18 {
  top: 72.9%;
  left: 63.8%;
  -webkit-animation: up-down 3s 0s linear infinite;
  animation: up-down 3s 0s linear infinite
}

.index .logo_18 span {
  width: 105px;
}

.index .logo_19 {
  top: 72.9%;
  left: 69.7%;
  -webkit-animation: up-down 3s 0.7s linear infinite;
  animation: up-down 3s 0.7s linear infinite;
}

.index .logo_20 {
  top: 36.8%;
  left: 75.9%;
  -webkit-animation: up-down 3s 0.3s linear infinite;
  animation: up-down 3s 0.3s linear infinite
}

.index .logo_20 span {
  width: 85px;
}

.index .logo_21 {
  top: 51.9%;
  left: 74.7%;
  -webkit-animation: up-down 3s 0.5s linear infinite;
  animation: up-down 3s 0.5s linear infinite;
}

.index .logo_22 {
  top: 59.8%;
  left: 82.3%;
  -webkit-animation: up-down 3s linear infinite;
  animation: up-down 3s linear infinite
}

.index .logo_22 span {
  width: 85px;
}

.index .logo_23 {
  top: 37%;
  left: 89.2%;
  -webkit-animation: up-down 3s 0.7s linear infinite;
  animation: up-down 3s 0.7s linear infinite
}

.index .logo_23 span {
  width: 105px;
}

.index .logo_24 {
  top: 51.8%;
  left: 90.1%;
  -webkit-animation: up-down 3s 0.4s linear infinite;
  animation: up-down 3s 0.4s linear infinite;
}

.logo_show_bg {
  position: fixed;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.3;
  display: none;
  opacity: 0;
}

.logo_show {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.3;
  display: none;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms
}

.logo_show .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5.5rem
}

.logo_show .item img {
  margin-bottom: 3rem;
  width: 75%;
}

.logo_show .item h1 {
  opacity: 0;
  border-radius: 1.5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(248, 113, 113, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  width: 89%;
  height: 5rem;
}

@media (min-height: 1000px) {
  .index {
    width: 92.8%;
  }
}

@media (max-width: 1024px) {
  .mobile_cover {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
  }

  .mobile_cover:before {
    content: '此頁面不適用於行動裝置，請至電腦版網頁瀏覽';
  }
}

html {
  font-family: "Helvetica", "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "spHelvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
  font-family: "Helvetica", "Noto Sans TC", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "spHelvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  background: #fefeff;
  background: linear-gradient(to right, #fefeff 0%, #f0f1fe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefeff', endColorstr='#f0f1fe', GradientType=1);
}

button {
  outline: 2px solid transparent;
  outline-offset: 2px;
  -webkit-tap-highlight-color: transparent;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
