.index {
  @apply relative flex justify-center;

  & .cover {
    @apply absolute w-screen h-screen;
  }

  & .bg {
    @apply h-full;
  }

  & .logo {
    @apply absolute cursor-pointer flex justify-center items-center z-10;
    width: 2.25%;

    &:hover {
      & span {
        @apply flex;
      }
    }

    & span {
      @apply absolute bg-black bg-opacity-75 text-white flex justify-center items-center text-sm rounded-lg hidden;
      width: 75px;
      height: 30px;
      top: -45px;

      &:after {
        @apply absolute border-solid;
        bottom: -10px;
        content: '';
        width: 0;
        height: 0;
        border-width: 10px 7.5px 0 7.5px;
        border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
      }
    }
  }

  & .logo_1 {
    top: 55.8%;
    left: 8.65%;
    -webkit-animation: up-down 3s linear infinite;
    animation: up-down 3s linear infinite;

    & span {
      width: 105px;
    }
  }

  & .logo_2 {
    top: 27.9%;
    left: 21.15%;
    -webkit-animation: up-down 3s linear infinite;
    animation: up-down 3s linear infinite;

    & span {
      width: 75px;
    }
  }

  & .logo_3 {
    top: 22%;
    left: 26.95%;
    -webkit-animation: up-down 3s 0.6s linear infinite;
    animation: up-down 3s 0.6s linear infinite;
  }

  & .logo_4 {
    top: 33.3%;
    left: 26.1%;
    -webkit-animation: up-down 3s 0.4s linear infinite;
    animation: up-down 3s 0.4s linear infinite;
  }

  & .logo_5 {
    top: 74%;
    left: 25.1%;
    -webkit-animation: up-down 3s linear infinite;
    animation: up-down 3s linear infinite;
  }

  & .logo_6 {
    top: 69.8%;
    left: 29.15%;
    -webkit-animation: up-down 3s 0.5s linear infinite;
    animation: up-down 3s 0.5s linear infinite;
  }

  & .logo_7 {
    top: 73.8%;
    left: 32.8%;
    -webkit-animation: up-down 3s 0.5s linear infinite;
    animation: up-down 3s 0.5s linear infinite;
  }

  & .logo_8 {
    top: 21.4%;
    left: 36.9%;
    -webkit-animation: up-down 3s linear infinite;
    animation: up-down 3s linear infinite;

    & span {
      width: 105px;
    }
  }

  & .logo_9 {
    top: 32%;
    left: 37%;
    -webkit-animation: up-down 3s 0.5s linear infinite;
    animation: up-down 3s 0.5s linear infinite;

    & span {
      width: 105px;
    }
  }

  & .logo_10 {
    top: 79.2%;
    left: 38.4%;
    -webkit-animation: up-down 3s 0.4s linear infinite;
    animation: up-down 3s 0.4s linear infinite;

    & span {
      width: 85px;
    }
  }

  & .logo_11 {
    top: 62.4%;
    left: 40.2%;
    -webkit-animation: up-down 3s 0.6s linear infinite;
    animation: up-down 3s 0.6s linear infinite;
  }

  & .logo_12 {
    top: 26.3%;
    left: 42.3%;
    -webkit-animation: up-down 3s 0.2s linear infinite;
    animation: up-down 3s 0.2s linear infinite;

    & span {
      width: 105px;
    }
  }

  & .logo_13 {
    top: 47.4%;
    left: 44.1%;
    -webkit-animation: up-down 3s linear infinite;
    animation: up-down 3s linear infinite;

    & span {
      width: 85px;
    }
  }

  & .logo_14 {
    top: 75.2%;
    left: 42.8%;
    -webkit-animation: up-down 3s 0.1s linear infinite;
    animation: up-down 3s 0.1s linear infinite;

    & span {
      width: 85px;
    }
  }

  & .logo_15 {
    top: 19%;
    left: 49%;
    -webkit-animation: up-down 3s 0.7s linear infinite;
    animation: up-down 3s 0.7s linear infinite;

    & span {
      width: 140px;
    }
  }

  & .logo_16 {
    top: 30.8%;
    left: 59.1%;
    -webkit-animation: up-down 3s 0.5s linear infinite;
    animation: up-down 3s 0.5s linear infinite;
  }

  & .logo_17 {
    top: 60.7%;
    left: 57.5%;
    -webkit-animation: up-down 3s 0.3s linear infinite;
    animation: up-down 3s 0.3s linear infinite;

    & span {
      width: 85px;
    }
  }

  & .logo_18 {
    top: 72.9%;
    left: 63.8%;
    -webkit-animation: up-down 3s 0s linear infinite;
    animation: up-down 3s 0s linear infinite;

    & span {
      width: 105px;
    }
  }

  & .logo_19 {
    top: 72.9%;
    left: 69.7%;
    -webkit-animation: up-down 3s 0.7s linear infinite;
    animation: up-down 3s 0.7s linear infinite;
  }

  & .logo_20 {
    top: 36.8%;
    left: 75.9%;
    -webkit-animation: up-down 3s 0.3s linear infinite;
    animation: up-down 3s 0.3s linear infinite;

    & span {
      width: 85px;
    }
  }

  & .logo_21 {
    top: 51.9%;
    left: 74.7%;
    -webkit-animation: up-down 3s 0.5s linear infinite;
    animation: up-down 3s 0.5s linear infinite;
  }

  & .logo_22 {
    top: 59.8%;
    left: 82.3%;
    -webkit-animation: up-down 3s linear infinite;
    animation: up-down 3s linear infinite;

    & span {
      width: 85px;
    }
  }

  & .logo_23 {
    top: 37%;
    left: 89.2%;
    -webkit-animation: up-down 3s 0.7s linear infinite;
    animation: up-down 3s 0.7s linear infinite;

    & span {
      width: 105px;
    }
  }

  & .logo_24 {
    top: 51.8%;
    left: 90.1%;
    -webkit-animation: up-down 3s 0.4s linear infinite;
    animation: up-down 3s 0.4s linear infinite;
  }
}

.logo_show_bg {
  @apply fixed bg-black bg-opacity-30 w-full h-full;
  @apply opacity-0 hidden;
}

.logo_show {
  @apply fixed bg-white bg-opacity-30 w-full h-full flex items-center justify-center z-10;
  @apply opacity-0 hidden;
  @apply transition-all duration-300;
  & .item {
    @apply flex flex-col justify-center items-center;
    margin: 0 5.5rem;

    & img {
      @apply w-3/4 mb-12;
    }

    & h1 {
      @apply opacity-0;
      @apply text-black text-2xl bg-white text-center rounded-3xl border border-solid border-red-400;
      width: 89%;
      height: 5rem;
    }
  }
}

@media (min-height: 1000px) {
  .index {
    width: 92.8%;
  }
}

@media (max-width: 1024px) {
  .mobile_cover {
    @apply fixed bg-black w-full h-full flex items-center justify-center text-white text-xl px-4 text-center z-20;
    &:before {
      content: '此頁面不適用於行動裝置，請至電腦版網頁瀏覽';
    }
  }
}
